<p>Hello <%= @owner.full_name %>,</p>

<p>You've gotten a like to your idea:</p>

<p>Idea title: <%= @idea.title %></p>

<p>Liker: <%= @user.full_name %></p>

<p>Regards,</p>

<p>Ideas ideas ideas Team</p>
